.dialogFormComponent {
  position: relative;
}

.dialogFormInput {
  position: relative;
  width: fit-content;
  padding-top: 12px;
  color: var(--decorative-light);
  font-weight: 600;
  border: 1px solid var(--dark-secondary);
  border-radius: var(--br-xxs);
  cursor: text;
  transition:
    border-color 0.3s ease,
    color 0.3s ease;
}

.dialogFormInput--edited {
  margin: 0 -2px -2px 0;
  border: 2px solid var(--tertiary-color);
  color: var(--tertiary-color);
}

.dialogFormInput:hover:not(.dialogFormInput--edited, .dialogFormInput--error:hover, :focus-within) {
  border-color: var(--decorative-dark);
  color: var(--decorative-dark);
  font-weight: 500;
}

.dialogFormInput:focus-within {
  margin: 0 -2px -2px 0;
  border-width: 2px;
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  font-weight: 500;
}

.dialogFormInput--error:hover,
.dialogFormInput--error:focus-within {
  color: var(--primary-alert-color);
}

.dialogFormInput--error:hover {
  border-color: var(--primary-alert-color);
}

.dialogFormInput--error:focus-within {
  border-width: 2px;
  border-color: var(--primary-alert-color);
}

.dialogFormInput__label {
  position: absolute;
  display: flex;
  top: -12px;
  left: 10px;
  background-color: white;
}

.dialogFormInput__label__content {
  display: block;
  padding: 0 4px 0 2px;
}

.dialogFormInput__inputBox {
  width: 366px;
  height: 32px;
  padding: 0px 8px 8px 8px;
  line-height: var(--lh-label);
  font-family: var(--font-regular);
  font-size: var(--fs-xs);
  border: none;
  outline: none;
  background: none;
}

.dialogFormInput__inputBox--textArea {
  margin: 0 0 -2.5px;
  min-width: 366px;
  width: 476px;
  max-width: 100vw;
  min-height: 138px;
  max-height: 100vh;
}

.dialogFormInput__inputBox::placeholder {
  align-self: flex-start;
  font-size: var(--fs-xxs);
  color: var(--decorative-dark);
}

.dialogFormInput__alertTag {
  bottom: 0;
  right: 10px;
}

.dialogFormInput__alertTag--message {
  bottom: 0;
  left: 10px;
}
