.header {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 50px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--ligth-bg-menu);
  z-index: 500;
  transition:
    top 0.4s ease-out,
    background-color 0.4s ease-out;
}

/* Class to display header in hover mode when user scroll-up */
.header--isHover {
  top: 0;
  backdrop-filter: blur(7px);
  box-shadow: var(--bsh-collapsible-header);
}
/* Class to hide the header when user scroll-down */
.header--isHidden {
  top: -143px;
}
/* Class to display the header at the top of the screen, in regular mode */
.header--isRegular {
  background-color: var(--white);
}

.header__logo {
  width: 200px;
  height: auto;
}

nav {
  align-self: flex-end;
}

.menuList {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Smartphone */
@media (max-width: 768px) {
  .header {
    padding: 10px 20px;
  }

  .header__logo {
    width: 150px;
  }

  .menuList {
    column-gap: 10px;
  }
}

/* Smartphone with small screen */
@media (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  nav {
    align-self: center;
  }
}
