.buttonLink {
  --buttonLink-focus-ring: var(--semantic-ring);
  --buttonLink-icon-size: 1.4rem;
  --buttonLink-size: 48px;

  width: var(--buttonLink-size);
  height: var(--buttonLink-size);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* Color of Button icon when focus with tab keyboard */
.buttonLink:focus-visible {
  outline: 3px solid var(--buttonLink-focus-ring);
  outline-offset: 3px;
  border-radius: 8px;
}

.buttonLink__icon {
  font-size: var(--buttonLink-icon-size);
}

@media (forced-colors: active) {
  .buttonLink:focus-visible {
    outline: 2px solid Highlight;
    outline-offset: 2px;
  }
}
