.buttonLink {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.iconStyle {
  font-size: var(--fs-md);
  height: var(--fs-md);
}
