.section {
  height: auto;
  min-height: 100vh;
}

.section--hero {
  padding-top: 254px;
}

.section__bodySection {
  padding-bottom: 50px;
}

.section__titleSection {
  width: max-content;
  padding: 10px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.section__catchPhrase,
.section__slogan {
  font-weight: 500;
}

.section__catchPhrase {
  line-height: var(--lh-titration);
  color: var(--secondary-color);
  padding-bottom: 30px;
}

.section__slogan {
  font-size: var(--fs-xl);
  line-height: var(--lh-small);
  padding-top: 5px;
  color: var(--secondary-color);
}

.section__businessOverview,
.section__description {
  padding-top: 20px;
  color: var(--tertiary-color);
}

.section__description {
  margin-bottom: 10px;
}

.section__description:last-of-type {
  margin-bottom: 50px;
}

.section__cardsWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

@media (max-width: 768px) {
  .section__cardsWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .section__cardsWrapper {
    grid-template-columns: 1fr;
  }
}
