.tag {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  font-family: var(--font-accessories);
  font-size: var(--fs-xxs);
  font-weight: 500;
  color: var(--rich-black);
}

.tag--thinned {
  padding: 2px 0px;
}

.tag--alerted {
  position: absolute;
  line-height: var(--lh-small);
  font-weight: 600;
  color: var(--primary-alert-color);
}

.tag--filled {
  color: var(--rich-black);
  background-color: var(--light-primary-color);
  border-radius: var(--br-xs);
}
