.page {
  width: 100vw;
  height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: lime;
}

.logo {
  width: 200px;
  height: auto;
}

ul {
  width: max-content;
  display: flex;
  column-gap: 20px;
  list-style-type: none;
}

nav {
  align-self: flex-end;
}

a {
  font-variant: small-caps;
  text-decoration: none;
  color: white;
}

.visible {
  top: 0;
  transition: top 0.4s ease-out;
}

.hidden {
  top: -122px;
  transition: top 0.4s ease-out;
}

.topOfPage {
  background-color: brown;
}

.main {
  overflow-y: scroll;
  margin-top: 100px;
  width: 100%;
}
