.page {
  position: relative;
  overflow: auto;
  width: 100vw;
  height: auto;
  background-color: var(--white);
}

.socialMediaNavBar {
  position: fixed;
  bottom: 0;
  right: auto;
  left: 50px;
  padding: 6px 6px 0;
}

.main {
  width: 100%;
  max-width: 1300px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: transparent;
}

.scrollOff {
  position: fixed;
}
