.socialMediaNavBar {
  width: max-content;
}

.socialMediaNavBar--vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6px;
  margin-bottom: 20px;
}

.socialMediaNavBar--vertical__line {
  display: flex;
  justify-content: center;
}

.socialMediaNavBar--horizontal {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

/* Style for the navigation bar button */
.socialMediaNavBar__externalLink {
  color: var(--decorative-light);
  text-decoration: none;
  transition: color 0.3s;
}

.socialMediaNavBar__externalLink:hover,
.socialMediaNavBar__externalLink:focus {
  color: var(--decorative-dark);
  outline: none;
}

.socialMediaNavBar__externalLink:focus-visible {
  outline: 2px solid var(--decorative-dark);
}
