.card {
  margin: 0;
  padding: 32px 28px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: var(--element-bg); */
  background-color: var(--panel-bg);
  border-radius: var(--br-sm);
}

.card:hover,
.card:focus-within {
  background-color: var(--decorative-dark);
  box-shadow: 5px 5px 8px -1px var(--dark-bg-menu);
  transform: translate3d(8px, -9px, 0);
  transition: ease-in-out 450ms;
}

.card__header {
  margin: 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__folderIcon {
  font-size: 32px;
  color: var(--decorative-dark);
}
.card:hover .card__additionalNav,
.card:focus-within .card__additionalNav {
  color: var(--dark-primary);
}

.card:hover .card__additionalNav:hover,
.card:focus-within .card__additionalNav:focus {
  color: var(--white);
}

.card__main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__description {
  flex: 1 0 130px;
  overflow: hidden;
  font-size: var(--fs-xs);
  color: var(--tertiary-color);
}

.card__skillsList,
.card__additionalNav {
  color: var(--decorative-dark);
}

.card:hover .card__folderIcon,
.card:focus-within .card__folderIcon,
.card:hover .card__skillsList,
.card:focus-within .card__skillsList {
  color: var(--dark-primary);
}

.card:hover .card__description,
.card:focus-within .card__description,
.card:hover h3,
.card:focus-within h3 {
  color: var(--white);
}

.card__footer {
  margin: 0;
  padding: 0;
}
