/* Linked section not visible on screen */
.itemMenu {
  color: var(--rich-black);
  text-decoration: none;
}
/* Linked section visible on screen */
.itemMenu--isSectionVisible {
  color: var(--secondary-color);
  font-weight: 700;
  text-decoration-line: underline;
}
