.scrollButtons {
  position: absolute;
  width: 100%;
  top: calc(50% - 33px);
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span.scrollButton {
  font-size: 44px;
  padding: 12px;
  border-radius: 50%;
  color: var(--decorative-light);
  cursor: pointer;
}

.scrollButton:hover {
  color: var(--secondary-color);
  background-color: var(--element-bg);
}
